@model TestEntityFramework.Models.LMeetingWork

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LMeetingWork</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAbsent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAbsent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FMeetingNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FMeetingNavigation.FMeetingId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FPersonNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FPersonNavigation.FPersonId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LMeetingWorkId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
