@model List<TestEntityFramework.Models.LComissionPerson>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FPerson</h4>
    <hr />
    <dl class="row">
        <dd class="col-sm-10">
            <span> @Model.First().FPersonNavigation.Name </span>
        </dd>
        <dd class="col-sm-10">
            <span> @Model.First().FPersonNavigation.Surname </span>
        </dd>
        <dd class="col-sm-10">
            <span> @Model.First().FPersonNavigation.PhoneNumber </span>
        </dd>
        <dd class="col-sm-10">
            <span> @Model.First().FPersonNavigation.Address </span>
        </dd>
        <h4>Состоит в комиссиях:</h4>
        @foreach (var item in Model)
        {
            <dd class="col-sm-10">
                <span> @item.FComissionNavigation.Name </span>
            </dd>
        }

    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
